.vscode/
.vs/
*.user
.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/

TestResults/

appsettings.Development.json
*.secret.json

# SQLite Temp Files
*.db-shm
*.db-wal

# Env variables
.env
.env.*

deploy/
deploy/*